<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }} - ToDo-Fission</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script> -->
</head>
<body>
    <h1>ToDo-Fission</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.newtodo }}
    </form>
    <div>
        {% for item in list %}
            <p>{{ item }}</p>
        {% endfor%}
    </div>
</body>
</html>